.p1 {
    color: rgb(255, 99, 71);
}

.p2 {
    color: #ff6347;
}

.p3 {
    color: hsl(9, 100%, 64%);
}

.p1_2 {
    background-color: rgba(255, 99, 71, 0.5)
}

.p2_2 {
    background-color: hsla(9, 100%, 64%, 0.5);
}