.p1{
    background-color: rgb(162, 173, 3);
    color: blue;
}
.p2{
    background-color: rgb(3, 151, 170);
    color: green;
}
.p3{
    background-color: rgb(145, 0, 145);
    color: rgb(0, 247, 255);
}