h1{
    background-color: rgb(80, 196, 184);
    margin: auto;
    width: 300px;
}
.p1{
    background-color: rgb(80, 196, 184);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.p2{
    background-color: rgb(80, 196, 184);
    padding: 50px;
}